.issues-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.issues-list li {
  display: block;
}
.priority-icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent no-repeat center center;
  background-size: contain;
}
.priority-icon.blocker,
.priority-icon.critical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AoTEzQEcKt7NQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAQISURBVFjD7ZhPbFRFHMc/Xah60EAB20EEJTEB9TJIuBkRG24YKm0X8EwIhBiiggfCyQgXgkjQaKIHTiVsU1pCQmK0Yrgq+C6icqGAyo+1Sk3ABCquh/5e8mM6b3ffvvbG9zLvzduZ+e5vfv/hIYqhrdWFiXOPAK8CLwErgS6gA6gBE0AV+AX4HvjWi9ybdYKJc23AIuAgsC3nWV8A+4GqF6nNOMHEuXnAELAWmGs+/QmMAj+q1O4CS4EXVcKd5rf/AueBPi9ya8YIJs5tBQbM1BgwAhz1ImMN1i4B9gAbgeXm05te5ERhgolzQ8AmM1UGTufVKdXZDXoLKYa8SF/LBBPnTgFv6OsoUPYifxWxyovOzSvBILBep4a9yKbcBAPJfeZFdjYwnnZgjk7dBybrGUPi3MfALn095UV6myYY6FwmOSW2V/WrC3hcP91WgxkBDmURTZz7FNiRqo4XGWxIUK11Ql+/8SLdGfq0C/iwyZt9B/goRjRx7msgPaPDi0zY76WIRCpmqj+yYSdwIwc5gF/rXHfZPFeUQ5ygOuHX9HlLaBCJc4uAi8CCJkilhDbHri6FnrFFX9eFe4cED6oTvgoMB+TagcvAkhxBYLMXqWTorsWw+ta5wAdRgolzj5rwNRLxc29prG0WWeT6gd2BFO+pQQHssH/ASvBl83w08o8P5yBXziBXVh0/EpHiEfPcHSO4Wse/vciVYPHenOQGM8idzNrTi1zTuI5mSNMIvqDjl3bhhal/+noRgzDkrCX3RKT4lY4rYgS7dPzZrpgzFSFcAYPoN5KzhDo1+lj8pONTMYLzdQxjbQl4rIBBVDLWPGFCY4rrAZdpbgYglqWUChhEFv5rRqHtwWmIcZGN/iloEDHc0aTCYmnA5QGCN3V8Plg0CfxR0CBiqOreFunZv8UIXtJxfWD+NeNEWzWIGM5G4nN69uUYwQupgibOPRcsPFTQIGI4EKxfBixM89oYwfNBWAuluLuAQYR4NyK9t83z6DSCXmRSS0OAjZrzWRwrYBAWt4BPIvllj0mQa1nuY5+Whs8AvREptmoQKX4HVnqRu8F8L/Csnr2/nn8bN1c9oPlfVk2RxyBSya3yItVgnwWmvDgXBopSREpWcifq1CKLc1zrHmBxSC7NogO/WmumaOpjqjQE+NyLbG9QNPUAT2rRVFPHfhM4naNoinqHemXnALC1hbKzptFn9srOjNp4Rgp31bmKSUpbK9wzJIkWOMMttj56gx5PpuTyNo9CXzcGnFH9ut5g7TJ1wj3qSma2eWQO6lCS6+q0327U4H4bPK3tt24TvtL22zklNz6bDcz3jfU1i+PAe8D4rDQwQ3znXHs7vAKsMS3g+Safq2qG9EORFvBDFMX/dg+0RvKpRZcAAAAASUVORK5CYII=");
}
.priority-icon.major {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AoTEzMftY8kHgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAGNSURBVFjD7Za7SmRBEIa/ESYy1/8xOnRfwUgwMBEFF402EBUveMUbI6hoYKCooCZGwj7CgmhaqRtsJlRipDDhmJxITuvOnOOMSP/Zqaouvv7rdNOQlPSNZNIPk65N6iurZ1eJcFvAHTAE3Ju0WEbfSklwx8BETmovuM901EGTTiNwANMmLXcM0KQa8PODsvVs/O0dsUkXwEgTS2rBfaEtDpq02yQcwHwr4660AHcCjBf4M/aD+/SnOGjSWUE4gCmTVksHNGkHGIukJ3NiL8B8pH7NpO3SAE26AmYj6YHgfpgT7w7uO0DMrYXsFigGaNIgMBxJ/wruv99bH9zX34GcM2moqIMxuMHgfvQ/E8ggN2ObLAr4Lyc2GtxvmjkZwX0ZWMlJ3RYDbDRWgL9AHXgGxoL7ZSvHN7hvAEtZrzrwkH0XuwdNqgK9QD24P0VqGm+3Fty7IrU9QDW4P7blNdMsYEfeg5+lBJgAE2ACTIAJMAG2rPpXA3z7Yj4vo2mlTMtMGgf6gT/B/YCkpG+gV/84eGGp7nTuAAAAAElFTkSuQmCC");
}
.priority-icon.minor,
.priority-icon.trivial {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AoTEzIi9PxZTgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAG+SURBVFjD7Zg9S1xBFIYfsyIxWFhaRQiLTSr9B4vI4A+YhVTBDWjWJYpoYTdMZSCGGDAbDRqSxua0aaZSK5vANmLlgp1YWviNaLPFIvfqujPqIvN295yZuc99DzOcuRAV9bRqC7WQEjsFvAPWnDYLLQWoxM4D03WhZafNxxBrvwj0oSM3nseU2JetBJhUic5WAkzSVasDEgEjYASMgBEwAj692htsp94Cp06baoDWrAfoAXacNufeDiqxe8A2sKvEfveEKwL7QAU4UGJfeQEqsRborQtNKLGrTcLNAOW6UDfw19fB/oRYQYn9c0+4EeBLQqrPF/BXSvx9o04qsbPA75T0Ny9Ap80/oJiSLiixK7d01EdK7CgwlzJ/yWlzZyUydw2oysb/bD53DAwlpAey+dxr4A3QdSPXAXxOWXbZaVMMeqtTYj8AKwGOtrLTptTo4EyjA6uyUcnmcxfAoAfcz/vANXUvVmJLwGKTcOOPcnGvHbjlhyprUyVO2DgnKRvHu6zBfn0osQXgtvNw0WnzyecdGZ/JtY2T5uQPXzhvB+ucnAQWQjoXFLAG2X91eTl8dni0tTn2dT02wVHPRdf8JIYD67Ws5AAAAABJRU5ErkJggg==");
}
.priority-icon:after {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 16px;
  font-size: 12px;
  color: #ffffff;
  height: 16px;
  padding: 2px 4px;
  margin: 2px 0 0;
  border-radius: 2px;
  content: attr(data-priority);
  background: rgba(0, 0, 0, 0.5);
}
.priority-icon:hover:after {
  display: block;
}
.issue-projects-list a {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2px 4px;
  border-radius: 2px;
  margin: 2px;
}
.project-column {
  width: 120px;
}
.time-tacking-modal {
  position: fixed;
  z-index: 4;
  transition: all .2s;
}
.time-tacking-modal * {
  box-sizing: border-box;
}
.time-tacking-modal,
.time-tacking-modal .overlay {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all .2s;
}
.time-tacking-modal .overlay {
  position: absolute;
  background: rgba(65, 166, 42, 0.5);
}
.time-tacking-modal .modal-body {
  min-height: 300px;
  min-width: 300px;
  margin: 160px 60px;
  padding: 50px 100px;
  background: #ffffff;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all .2s;
}
.time-tacking-modal .input-group {
  position: relative;
  margin: 0 0 15px;
}
.time-tacking-modal .form-control {
  width: 100%;
}
.time-tacking-modal .time-field {
  text-align: center;
}
.time-tacking-modal .start-stop {
  background-color: #24890d;
}
.time-tacking-modal .start-stop:active,
.time-tacking-modal .start-stop:focus {
  background-color: #55d737;
}
.time-tacking-modal .start-stop.active {
  background-color: #ff2330;
}
.time-tacking-modal .start-stop.active:active,
.time-tacking-modal .start-stop.active:focus {
  background-color: #ff3a55;
}
.time-tacking-modal .minimize {
  border: 2px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  margin: 16px;
  width: 16px;
  height: 4px;
  z-index: 10;
  transition: all .2s;
}
.time-tacking-modal .minimize:focus {
  outline: none;
}
.time-tacking-modal .handle {
  position: absolute;
  top: 0;
  height: 20px;
  left: 0;
  right: 48px;
}
.time-tacking-modal.minimized {
  top: 70px;
  right: 30px;
  width: 300px;
  margin: 0;
  opacity: 0.95;
  transition: all .2s;
  text-align: center;
}
.time-tacking-modal.minimized .overlay {
  opacity: 0;
}
.time-tacking-modal.minimized .modal-body {
  border-radius: 2px;
  margin: 0;
  padding: 32px 6px;
  min-height: 150px;
  transition: all .2s;
}
.time-tacking-modal.minimized .minimize {
  height: 12px;
  margin: 8px;
  border-top-width: 4px;
  transition: all .2s;
}
.time-tacking-modal.minimized .handle {
  cursor: move;
}
.time-tacking-modal.minimized .form-control {
  text-align: center;
  margin: 0 0 15px;
}
.time-tacking-modal:not(.minimized) .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.time-tacking-modal:not(.minimized) .input-group .form-control:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.time-tacking-modal:not(.minimized) .input-group-addon,
.time-tacking-modal:not(.minimized) .input-group-btn,
.time-tacking-modal:not(.minimized) .input-group .form-control {
  display: table-cell;
}
.time-tacking-modal:not(.minimized) .input-group-addon:not(:first-child):not(:last-child),
.time-tacking-modal:not(.minimized) .input-group-btn:not(:first-child):not(:last-child),
.time-tacking-modal:not(.minimized) .input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.time-tacking-modal:not(.minimized) .input-group-addon,
.time-tacking-modal:not(.minimized) .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.time-tacking-modal:not(.minimized) .input-group .form-control:first-child,
.time-tacking-modal:not(.minimized) .input-group-addon:first-child,
.time-tacking-modal:not(.minimized) .input-group-btn:first-child > .btn,
.time-tacking-modal:not(.minimized) .input-group-btn:first-child > .btn-group > .btn,
.time-tacking-modal:not(.minimized) .input-group-btn:first-child > .dropdown-toggle,
.time-tacking-modal:not(.minimized) .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.time-tacking-modal:not(.minimized) .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.time-tacking-modal:not(.minimized) .input-group-addon:first-child {
  border-right: 0;
}
.time-tacking-modal:not(.minimized) .input-group .form-control:last-child,
.time-tacking-modal:not(.minimized) .input-group-addon:last-child,
.time-tacking-modal:not(.minimized) .input-group-btn:last-child > .btn,
.time-tacking-modal:not(.minimized) .input-group-btn:last-child > .btn-group > .btn,
.time-tacking-modal:not(.minimized) .input-group-btn:last-child > .dropdown-toggle,
.time-tacking-modal:not(.minimized) .input-group-btn:first-child > .btn:not(:first-child),
.time-tacking-modal:not(.minimized) .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.time-tacking-modal:not(.minimized) .input-group-addon:last-child {
  border-left: 0;
}
.time-tacking-modal:not(.minimized) .input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.time-tacking-modal:not(.minimized) .input-group-btn > .btn {
  position: relative;
}
.time-tacking-modal:not(.minimized) .input-group-btn > .btn + .btn {
  margin-left: -1px;
}
.time-tacking-modal:not(.minimized) .input-group-btn > .btn:hover,
.time-tacking-modal:not(.minimized) .input-group-btn > .btn:focus,
.time-tacking-modal:not(.minimized) .input-group-btn > .btn:active {
  z-index: 2;
}
.time-tacking-modal:not(.minimized) .input-group-btn:first-child > .btn,
.time-tacking-modal:not(.minimized) .input-group-btn:first-child > .btn-group {
  margin-right: -1px;
}
.time-tacking-modal:not(.minimized) .input-group-btn:last-child > .btn,
.time-tacking-modal:not(.minimized) .input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: -1px;
}
.time-tacking-modal th,
.time-tacking-modal td {
  padding: 5px;
  font-size: 0.8em;
}
.time-tacking-modal tr:nth-child(2n) td {
  background: rgba(0, 0, 0, 0.02);
}
.time-tacking-modal .time-item-id {
  width: 4em;
  text-align: center;
}
.time-tacking-modal .time-item-message {
  width: auto;
}
.time-tacking-modal .time-item-time {
  width: 7em;
  text-align: center;
}
.time-tacking-modal .no-time-items {
  background: rgba(0, 0, 0, 0.02);
  color: #aaaaaa;
  font-style: italic;
}
